@import "tailwindcss";

* {
  font-family: Arial, Helvetica, sans-serif;
  -ms-overflow-style: none;
}

/* have to check this for the theming one */

::-webkit-scrollbar {
  width: 10px; /* Width for vertical scrollbar */
  height: 10px; /* Height for horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: #1a1a1a; /* Scrollbar track color */
}

::-webkit-scrollbar-thumb {
  background: #555; /* Scroll thumb color */
  border-radius: 9999px; /* Rounded corners for modern look */
}

::-webkit-scrollbar-thumb:hover {
  background: #888; /* Slightly lighter on hover */
}
